@media (max-width: 768px) {
    /* Navbar: links em horizontal com scroll se necessário */
    .navbar {
      display: block;
      text-align: center;
      padding: 10px 0;
    }
    .navbar a {
      display: block;
      padding: 8px 0;
      margin: 0;
      text-decoration: none;
    }
    /* Empilhando as colunas */
    .inner-container {
      display: block; 
      padding: 0 0px;
    }
    .left-column,
    .center-column,
    .right-column {
      width: 98%;
      float: none;
      margin-bottom: 20px;
      padding: 0 -5px;
    }

    /* Redução de tamanho das fontes para melhor visualização em mobile */
    body, header, .main-container, h2, h3, h4, h6, p, a {
      font-size: 0.9em;
    }
    
    /* Ajustes específicos no header para reduzir espaçamento */
    header {
      padding: 20px 10px;
      background-size: cover;
      background-position: center;
      font-size: 5%;
    }

    header h1 {
      font-size: 32px;
    }
    
    /* Se desejar reduzir o espaçamento interno dos blocos de artigos */
    .article-block {
      padding: 1%;
      width: 85%;
    }
  }